{if condition="$instance['instancestatus'] neq 0"}
<style>
    .flowcontent input {
        pointer-events: none;
        border: 1px solid #DDD;
        background-color: #F5F5F5;
    }

    .flowcontent select {
        pointer-events: none;
        border: 1px solid #DDD;
        background-color: #F5F5F5;
    }

    .flowcontent textarea {
        pointer-events: none;
        border: 1px solid #DDD;
        background-color: #F5F5F5;
    }
    .disablefield{
        pointer-events: none;
    }
    .disablefield input {
        background-color: #eeeeee
    }

    .disablefield select {
        background-color: #eeeeee
    }

    .disablefield textarea {
        background-color: #eeeeee
    }
</style>
{/if}